html {
    background: var(--color-gray1);
}
body {
    max-width: var(--size-width1-pc);
    width: var(--size-width1-mobile);
    margin: 0 auto;
    z-index: 0;
    overflow-y: scroll;
}

/* ----------------------------------------------------- */
.sec-h1 {
    display: block;
    font-size: 20px;
    padding: 50px 0 20px;
}
.blind {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

#custom_cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--zindex-level2);
    pointer-events: none;
    opacity: 0;
    width: 60px;
    height: 60px;
}

.custom_cursor_inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom_cursor_circle {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: rgba(251, 57, 73, 0.5);
    z-index: 1;
}

/* ----------------------------------------------------- */

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 11.33333px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 20px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 28px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(14px, 0);
    }
}

#loadingPage {
    position: fixed;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-gray0);
    z-index: var(--zindex-level2);
    left: 50%;
    max-width: var(--size-width1-pc);
    width: var(--size-width1-mobile);
    transform: translateX(-50%);
}

.no-result {
    text-align: center;
    line-height: 1.5;
    padding: 40px 0 50px;
}

.no-result span {
    display: block;
    color: var(--color-gray3);
    font-size: var(--text-size2);
    margin-top: 10px;
}

.not-found-section {
    display: flex;
    justify-content: center;
    padding: 80px 0 0;
}

.not-found-section .no-result {
    padding-top: 20px;
}

.skeleton-wrap .skeleton-cards li {
    border-radius: 50px;
    flex-shrink: 0;
    background: #f2f2f2;
    background: linear-gradient(90deg, #f2f2f2, #e6e6e6, #f2f2f2);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.skeleton-wrap.carousel .skeleton-cards li {
    width: 200px;
    height: 300px;
}

.skeleton-wrap.list .skeleton-cards li {
    width: calc(50% - 6px);
    height: 343px;
}

.skeleton-wrap.carousel .skeleton-cards {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    width: 103%;
}

.skeleton-wrap.list .skeleton-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* ----------------------------------------------------- */

.main-dim {
    position: fixed;
    top: 0;
    left: 50%;
    max-width: var(--size-width1-pc);
    width: var(--size-width1-mobile);
    bottom: 0;
    transform: translateX(-50%);
    background: var(--color-gray0);
    z-index: -1;
}
.gnb-header-wrap {
    position: sticky;
    background: var(--color-gray0);
    z-index: var(--zindex-level1);
    top: 0;
}
#gnb {
    padding: 0 3%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#gnb .logo {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    flex-shrink: 0;
}
#gnb #logo:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-color: var(--title-color);
    -webkit-mask: url(../img/common/camera.svg) no-repeat center /20px;
    mask: url(../img/common/camera.svg) no-repeat center /20px;
    margin-right: 6px;
}
#gnb #searchInput {
    height: 40px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    transition: 0.1s;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 0 45px 0 12px;
    font-size: var(--text-size1);
}
#gnb #searchInput:focus {
    border-color: var(--color-gray4);
}
#gnb #searchBtn {
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 12px;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-color: var(--bg-color);
    -webkit-mask: url(../img/common/search.svg) no-repeat center /20px;
    mask: url(../img/common/search.svg) no-repeat center /20px;
}
#gnb .search-box {
    flex-grow: 2;
    position: relative;
}

/* ----------------------------------------------------- */

@media (max-width: 1199px) {
    #custom_cursor {
        display: none;
    }
}